#side-nav {
  width: 280px;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  padding-top: 2rem;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(-300px);
  box-shadow: 10px 0 50px 0px rgba(0, 0, 0, 0.3);
}
#side-nav.active {
  transform: translateX(0px);
}
#side-nav ul {
  text-align: left;
  padding-top: 2rem;
}
#side-nav ul li {
  display: inline-block;
  width: 100%;
}
#side-nav ul li a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  transition: all 0.3s ease;
}
#side-nav ul li a:hover {
  text-decoration: none;
  background-color: #dddddd;
}

.logo {
  display: block;
}
.logo img {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  width: 80px;
}

#content {
  position: relative;
  min-height: 100vh;
}
#content.active:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
}

.ninja-btn {
  display: inline-block;
  float: left;
  position: relative;
  width: 44px;
  height: 28.66667px;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  position: fixed;
  right: 2rem;
  top: 2rem;
}
.ninja-btn span {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: black;
  width: 44px;
  height: 4px;
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 13.33333px;
}
.ninja-btn span:before, .ninja-btn span:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: black;
  width: 44px;
  height: 4px;
}
.ninja-btn span:before, .ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.ninja-btn span:before {
  top: -13.33333px;
}
.ninja-btn span:after {
  top: 13.33333px;
}
.ninja-btn.active span {
  background-color: transparent;
}
.ninja-btn.active span:before, .ninja-btn.active span:after {
  top: 0;
}
.ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.ninja-btn.active span:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

#payments .icons .fa {
  font-size: 1.8em;
}

.card-header .icons .fa-cc-visa {
  color: #ffb85f;
}
.card-header .icons .fa-cc-discover {
  color: #027878;
}
.card-header .icons .fa-cc-amex {
  color: #eb4960;
}

.card-body label {
  font-size: 14px;
}

section {
  background-color: white;
}

.title, .subtitle {
  margin-bottom: 1.5rem;
}

.modal-card {
  width: 100%;
  max-width: 1024px;
  position: relative;
}
.modal-card section {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.7);
}

.bold-title {
  font-size: 6rem;
  text-transform: none;
}
.bold-title svg {
  display: block;
  width: 100%;
  max-width: 300px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-pad {
  padding-bottom: 3rem;
}

.hero.is-fullheight {
  height: auto;
}

.hero-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-top .subtitle {
  padding-right: 3rem;
}

.hero-body {
  padding-top: 9%;
  width: 100%;
  padding-bottom: 17vh;
  padding-top: 15vh;
}

.modal-body {
  padding: 2rem;
  line-height: 27px;
}

.hero-foot {
  width: 100%;
}

#payments {
  padding-bottom: 0;
}

h4, h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.advanteges-item h4 {
  text-align: center;
}

.advanteges-item img {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

.watch-result.has-text-centered {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.breadcrumbs {
  display: none;
  position: absolute;
  top: 20px;
}
.breadcrumbs li {
  list-style-type: none;
  margin-right: 30px;
  position: relative;
  color: black;
}
.breadcrumbs li:first-child:before {
  display: none;
}

#scanner .help {
  padding-top: 3rem;
}

.breadcrumbs li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -17px;
  top: 50%;
  margin-top: -5px;
}

.hero-description {
  margin-bottom: 2rem;
  text-align: center;
}
.hero-description .input-group-prepend {
  margin-bottom: 0;
}
.hero-description .row {
  margin-bottom: 0;
}
.hero-description a {
  text-decoration: underline;
}

.section.scanner {
  padding-top: 0rem;
}

.scanner__item {
  display: flex;
  margin-bottom: 3%;
  width: 100%;
}

.item__content {
  padding-right: 2rem;
}

.content__title {
  margin-bottom: 0px;
  display: inline-block;
  color: #00b8d4;
}
.content__title:hover {
  text-decoration: none;
}

.scanner__item__result {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 0px;
  top: -30px;
}

.result__indicators {
  width: 100%;
  position: relative;
  margin-left: 10%;
}

.result__chart {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 10px 0;
  background: #2eea38;
  background: linear-gradient(to right, #0d8ca0 1%, #00b8d4 28%, #00b8d4 33%, #00b8d4 48%, #b1cfd3 73%);
}

.result__time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 50px;
  color: black;
  color: #00b8d4;
  position: relative;
}
.result__time:hover {
  text-decoration: none;
}
.result__time a {
  position: absolute;
  left: 91%;
  top: 10px;
  display: block;
}

.icon {
  width: 30px;
  margin-left: -40px;
  position: relative;
  bottom: -40px;
  left: -25px;
}
.icon img {
  width: 30px;
  box-shadow: none;
  border: none;
  width: 30px;
}

.result__time .time {
  font-size: 40px;
  display: inline-block;
  margin-right: 5px;
}

.link-more {
  text-decoration: underline;
}

.button-wrap {
  text-align: center;
}

.forecast {
  padding-bottom: 0rem;
}
.forecast .button-wrap {
  padding: 3rem 0;
}

.forecast.forecast-mobile {
  display: none;
}

.forecast-bottom {
  padding-top: 2rem;
}

.advanteges-item h4 {
  min-height: 96px;
}

.btn.btn-primary {
  min-width: 280px;
  text-decoration: none;
}

.forecast-item {
  text-align: center;
  font-size: 1.5rem;
}
.forecast-item img {
  display: inline-block;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  width: 150px;
  padding: 2rem 0;
}

.features__item {
  text-align: center;
  margin-bottom: 3rem;
}
.features__item img {
  box-shadow: none;
  border: none;
}

.connection__content .required {
  font-size: 12px;
  color: red;
}

.connection .connection__info {
  display: none;
}

.card__link {
  text-align: center;
}

.connection__card__wrap {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.connection__card a {
  display: block;
  text-align: center;
}
.connection__card .card-body {
  border: 1px solid #dddddd;
  padding-top: 10rem;
  text-align: center;
  background-color: white;
  transition: all 0.3s ease;
}
.connection__card .card-body:hover {
  background-color: #eeeeee;
  text-decoration: none;
}
.connection__card .card__price {
  font-size: 3rem;
}

.step {
  margin-bottom: 2rem;
}

.step-two {
  margin-bottom: 3rem;
}

.step-one__text {
  padding-top: 1rem;
}

.connection__info {
  padding-top: 3rem;
}
.connection__info .input-group {
  margin-bottom: 1rem;
}
.connection__info .input-group-text {
  min-width: 45px;
  text-align: center;
  display: block;
}

.connection__info__text {
  margin-bottom: 2rem;
  text-align: center;
}

.form__text {
  margin-bottom: 1rem;
}

.brands {
  padding: 3rem 0;
  padding-top: 2rem;
  text-align: center;
}
.brands img {
  display: inline-block;
  margin: 5px;
  box-shadow: none;
  border-radius: none;
  border: none;
}

.or {
  text-align: center;
  padding: 3rem 0;
}

.cloud-icon {
  text-align: center;
  padding: 0;
  margin: 0 !important;
}
.cloud-icon li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0 3rem;
  position: relative;
}
.cloud-icon li:last-child:after {
  display: none;
}
.cloud-icon li:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -110%;
  width: 70%;
  height: 2px;
  background-color: #333333;
}
.cloud-icon li .fa {
  font-size: 4rem;
}

.speed-test .row {
  margin-bottom: 2rem;
  align-items: center;
}

.speed-test__number {
  padding: 0;
  max-width: 90px;
}
.speed-test__number span.sec {
  font-size: 16px;
  font-weight: normal;
}

.speed-test__number {
  font-weight: bold;
  font-size: 2rem;
}

.speed-scann-namber {
  margin-top: auto;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.speed .result__indicators {
  margin-left: 0;
  border: none;
}
.speed .result__chart {
  border: none;
}
.speed .row {
  margin-bottom: 1.5rem;
}

.result__chart--time {
  background-image: none;
  color: #333333;
  border: none;
  box-shadow: inset 0px 0px 0px 1px #222222;
  text-shadow: none;
}

.algorithm .title {
  padding-bottom: 2rem;
}
.algorithm p {
  margin-bottom: 1rem;
}

.compare {
  width: 100%;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.compare img {
  display: inline-block;
  border: none;
  border-radius: 0;
  max-width: 300px;
}
.compare .col-6 {
  text-align: center;
}

.speed-page .hero {
  padding-top: 3rem;
}

.data-protect.first {
  padding-top: 2rem;
}

.data-protect.second {
  padding-bottom: 2rem;
}

.glo-icon {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.glo-icon .fa {
  font-size: 10px;
  display: inline-block;
}

.successful .row {
  padding-bottom: 3rem;
}
.successful .btn-group {
  padding: 1.5rem 0;
}
.successful .btn {
  min-width: 130px;
  border: 1px solid #5a6268;
}

.row.connection__completed {
  padding-bottom: 0;
}

.connection__completed > div {
  margin-bottom: 3rem;
}

.additional-scan-content {
  padding: 3rem 0;
}
.additional-scan-content .additional-scan {
  padding-top: 3rem;
}
.additional-scan-content .additional-scan .additional-scan-form-item {
  margin-bottom: 2rem;
}

.modal {
  z-index: 2000;
}

.tooltip-inner {
  color: white;
  font-weight: 400;
  background-color: #0d8ca0;
  opacity: 1;
  min-width: 320px;
  padding: 15px;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #0d8ca0;
}

.tooltip .arrow:before {
  border-bottom-color: #0d8ca0 !important;
  border-top-color: #0d8ca0 !important;
}

#footer {
  padding: 3rem 0;
}

.footer__content {
  text-align: ceter;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content .subtitle {
  margin-left: 10px;
  margin-right: 10px;
}

.social-icons {
  margin-bottom: 1rem;
}

.mobile {
  display: none;
}

#footer .legal-information {
  padding-top: 2rem;
}
#footer .legal-information a {
  font-size: 15px;
  display: inline-block;
  margin: 0 10px;
  color: #999999;
}

.legal-information a {
  display: inline-block;
  margin: 0 10px;
}

.sigle__page__content li {
  margin-bottom: 1rem;
}

blockquote {
  margin-bottom: 3rem !important;
}

.markdown .button-wrap {
  padding-top: 2rem;
}
.markdown .btn {
  color: white;
}
