/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
  .hero-body {
    padding: 0;
    padding-top: 3rem;
  }

  .hero-foot {
    display: none;
  }
  .hero-foot span {
    display: block;
  }

  #side-nav {
    transform: translateX(-340px);
  }

  .scanner__item {
    flex-wrap: wrap;
  }

  .result__time {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .result__indicators {
    margin-left: 0;
  }

  .result__time .time {
    font-size: 28px;
  }

  .icon {
    width: 20px;
    margin-left: -40px;
    position: relative;
    bottom: -35px;
    left: -15px;
  }

  .item__content {
    padding-right: 0;
  }

  .icon {
    left: 70%;
    bottom: 5%;
  }

  .scanner__item {
    margin-bottom: 3rem;
  }

  .scanner__item__result {
    padding-top: 10px;
  }

  .forecast {
    padding-top: 0;
  }

  .sigle__page__content {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
  .step-one__text {
    padding-top: 0;
    margin-bottom: 1rem;
  }

  .step {
    margin-bottom: 1px;
  }

  .connection__card {
    padding: 0;
    margin: 2px;
  }

  .connection__card .card-body {
    padding-top: 7rem;
    margin-bottom: 1rem;
  }

  .connection__card .card__price {
    font-size: 2rem;
  }

  .connection__info {
    padding-top: 3rem;
  }

  .brands {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #footer {
    padding: 2rem 0;
    padding-top: 1rem;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
  #side-nav {
    width: 250px;
  }
}
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
