<div class="modal fade" id="HTTP2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">HTTP/2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                {{ .Site.Params.principle }}
                   {{ .Site.Params.mult }}  
{{ .Site.Params.mult1 }}
{{ .Site.Params.priority }}
{{ .Site.Params.priority1 }}
{{ .Site.Params.priority2 }}
{{ .Site.Params.compressed }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ALPN" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">ALPN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition1 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OCSP" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">OCSP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.garant }} 
                     
                    {{ .Site.Params.definition2 }}
                    {{ .Site.Params.text4 }}
                    {{ .Site.Params.text5 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="IPV6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">IPV6</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition3 }} 
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HTTPS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">HTTPS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition4 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HTTPS2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">HTTP/2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.basicprinciples }}
                    {{ .Site.Params.mult }}
{{ .Site.Params.mult1 }}
{{ .Site.Params.priority }}
{{ .Site.Params.priority1 }}
{{ .Site.Params.priority2 }} 
{{ .Site.Params.compressed }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HSTS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">HSTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.stricttransport }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ECDSA" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">ECDSA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition5 }}
                    {{ .Site.Params.text6 }} 
                    {{ .Site.Params.text7 }}
                     
                    {{ .Site.Params.text8 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SSL" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">SSL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition6 }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PFS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="googleStartupLongTitle">PFS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                    {{ .Site.Params.definition7 }}  
                    {{ .Site.Params.text9 }} 
                    {{ .Site.Params.text10 }}
            </div>
        </div>
    </div>
</div>