<div class="section forecast anchor" id="advanteges">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Преимущества</h2>
                </div>
            </div>
        </div>
        <div class="row advanteges-grid">
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/1.svg" alt="">
                <h4>Надежность</h4>
                <p>2 в 20-й степени замеров я совершаю при сканировании и интеграции решения. Специалист не в силах справиться с многотысячными вариаций за считанные секунды и выбором эффективной комбинации решений, то с чем идеально работает искусственный интеллект.</p>
                <p></p>
                <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Подробнее</a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/2.svg" alt="">
                <h4>Персонализация</h4>
                <p>Я не предлагаю одно типовое универсальное решение для любого сайта как другие сервисы. Это также странно как одинаковый размер ботинок для людей с различным размером ноги.</p>
                <p>После сканирования сайта материнская платформа Nitra генерит персонализированное программное решение, которое работает со слабыми зонами именно вашего сайта.</p>
                <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Подробнее</a>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/3.svg" alt="">
                <h4>Работа в реальном времени</h4>
                <p>Ты делаешь любые настройки на сайте, what ever, меняешь в каталоге фотографии - я оптимизирую загружаемые изображения и тем самым ускоряю скорость загрузки сайта. </p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/4.svg" alt="">
                <h4>Выга</h4>
                <p>Цена пары чашек кофе в виде ежемесячной оплаты за апгрейд сайта. Какие могут быть сомнения в том, что я должна быть в списке твоих приобретений?</p>
            </div>
        </div>
        
        <div class="button-wrap">
            <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary btn-lg">Хочу апгрейд</a>
        </div>
        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
        </div>
    </div>
