<div class="section forecast anchor" id="advanteges">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Сильные стороны</h2>
                </div>
            </div>
        </div>
        <div class="row advanteges-grid">
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/1.svg" alt="">
                <h4>Эффективность</h4>
                <p>При сканировании и интеграции решения, я совершаю 2 в двадцатой степени замеров. Специалист не в силах справиться с тестированием тысячи вариаций за считанные секунды и выбором эффективной комбинации решений. То, с чем идеально работает искусственный интеллект.</p>
                <p></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/2.svg" alt="">
                <h4>Оптимальная комбинация</h4>
                <p>Я не предлагаю одно типовое универсальное решение для любого сайта в отличие от других сервисов. Это также странно, как одинаковый размер ботинок для людей с различным размером ноги.</p>
                <p>После сканирования сайта я генерирую персонализированное программное решение, которое работает со слабыми зонами именно Вашего сайта.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/3.svg" alt="">
                <h4>Буфер</h4>
                <p>При интеграции моей технологии оригинальный веб-сайт не затрагивается и не видоизменяется - способы улучшения применяются “поверх” оригинального веб-сайта. Я не меняю программный код сайта.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/4.svg" alt="">
                <h4>24/7</h4>
                <p>Искусственный интеллект не ест, не спит, не ленится :). Я 24/7 сканирую и контролирую работу сайта и, в случае возникновения сбоев, исправляю их в режиме реального времени. В мой ДНК заложена способность разиваться. В каждый момент времени я эволюционирую и накапливаю новые технологии. </p>
            </div>
        </div>

        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
    </div>
</div>