<div class="section forecast anchor" id="advanteges">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Преимущества</h2>
                </div>
            </div>
        </div>
        <div class="row advanteges-grid">
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/1.svg" alt="">
                <h4>Эффективность</h4>
                <p>2 в 20-й степени замеров я совершаю при сканировании и интеграции решения. Специалист не в силах справиться с тестированием тысячи вариаций за считанные секунды и выбором эффективной комбинации решений, то с чем идеально работает искусственный интеллект.</p>
                <p></p>
                
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/2.svg" alt="">
                <h4>Оптимальная комбинация</h4>
                <p>Я не предлагаю одно типовое универсальное решение для любого сайта в отличие от других сервисов. Это также странно, как одинаковый размер ботинок для людей с различным размером ноги.</p>
                <p>После сканирования сайта, материнская платформа Nitra генерит персонализированное программное решение, которое работает со слабыми зонами именно вашего сайта.</p>
               
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/3.svg" alt="">
                <h4>Буфер</h4>
                <p>При интеграции технологии Nitra, оригинальный веб-сайт не затрагивается и не видоизменяется, способы улучшения применяются “поверх” оригинального веб-сайта. Я не меняю программный код сайта.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 advanteges-item">
                <img src="img/4.svg" alt="">
                <h4>24/7</h4>
                <p>Мониторинг работоспособности настроек проводится в режиме реального времени. </p>
            </div>
        </div>
        
        <div class="button-wrap">
            <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary btn-lg">Подключить</a>
        </div>
        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
        </div>
    </div>
