<div class="section connection {{ if .Site.Params.fadeIn }} fade-in two {{ end }}">
    <div class="container markdown {{ if .Site.Params.fadeIn }} fade-in two {{ end }} top-pad">
        <div class="connection__content">
            <!-- <div class="row step step-one">
                <div class="col-12 title is-4">Шаг 1</div>
                <div class="col-12 col-md-6 step-one__text">Для интеграции и настроек мне <br> необходимо подтверждение e-mail</div>
                <div class="col-12 col-md-6">
                    <form>
                        <label class="required" for="basic-url">*Обязательное поле для заполнения</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="lumik@gmail.ru" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="row step step-two">
                <!-- <div class="col-12 title is-4">Шаг 2</div> -->
                <div class="col-12"><h2 class="title has-text-centered">Выберите удобный формат подключения:</h2></div>
                <div class="col-12 connection__card__wrap">
                    <div class="col-6 col-md-4 connection__card">
                        <div class="card__link subtitle is-4">Ежемесячно</div>
                        <div class="card-body" >
                            <p class="card-text">Облачное решение</p>
                            <h6 class="card-subtitle mb-2 text-muted card__price">20 $</h6>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="3UGM3YLJWPQLQ">
                                <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>    
                        </div>                          
                    </div>
                    <div class=" col-6 col-md-4 connection__card">
                        <div class="card__link subtitle is-4">Единоразово</div>
                        <div class="card-body" >
                            <p class="card-text">Сервер клиента</p>
                            <h6 class="card-subtitle mb-2 text-muted card__price">200 $</h6>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="45FY6U55YMAXQ">
                                <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>  
                    </div>
                </div>
            </div>

            <div class="row step step-two">
                <!-- <div class="col-12 title is-4">Шаг 3</div> -->
                <div class="col-12">Три клика и Вы можете, самостоятельно или с нашей помощью, настроить облачную интеграцию. 
                        Кстати, оцените способ подключения. Это моя сильная сторона. Я работаю с сайтом, не нарушая целостность программного кода. Можно выбрать удобный тип подключения: облако или сервер. В случае подключению к серверу необходимо раз в год делать апгрейд версии сервиса. При облачном подключении, каждый месяц, Вы получаете новые и новые технологии, которые помогут сделать Ваш сайт эффективным. Как? Все просто. Искусственный интеллект обучается каждую секунду в отличие от человека, которому сложно успевать за стремительным развитием технологий. 
                </div>

                <div class="col-12 has-text-centered"> &nbsp; &nbsp;
                    <a href="/ru/guarantees/"></a>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">Согласен с условиями <a href="/ru/term-use/">Пользовательского соглашения</a> и
                    <a href="ru/privacy-policy/">Политикой Конфиденциальности</a>. <br> Подписываюсь на рассылку информации в виде электронных писем от имени Nitra. Вы также соглашаетесь с тем, что Nitra использует cookies для улучшения работы сайта.</div>
            </div> -->
        </div>
        <!-- End blog post content -->

        <div class="disqus">
            {{ template "_internal/disqus.html" . }}
        </div>

    </div>


</div>