{{ with .Site.GetPage "/data-protect" }}
<div class="section">

    <div class="container markdown ">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">{{ .Title }}</h2>
                </div>
                <p></p>
                {{ .Content }}

                 <div class="container">
                    <div class="button-wrap">
                        <a href="#connection" class="btn btn-primary btn-lg openModal">{{ .Site.Params.plug }}</a>
                    </div>
                </div>

            </div>
    </div>
</div>
{{ end }}