<div class="section">
    <div class="container hero ">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Защита данных </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container markdown ">
        <div class="sigle__page__content">
            <div class="col-12">
                <p>Ваш сайт входит в сотню сайтов с худшими показателями по уровню безопасности в своем сегменте.</p>
                <p>На Вашем сайте не интегрирована технология защиты данных <a href="#" data-toggle="modal"  data-target="#HTTPS">HTTPS</a>. <a href="#" data-toggle="modal"  data-target="#HTTPS">HTTPS</a> позволяет избежать кражи данных клиента злоумышлениками. Для банков, платежных систем и интернет-магазинов использование защищенного протокола передачи данных является обязательным условием и гарантом защиты конфиденциальных данных о паролях, банковских картах.</p>
                <p>Это одна из весомых причин почему Ваш сайт занимает худшую позицию в поисковой выдаче Google.</p>
                <p>Google Chrome, FireFox, другие браузеры маркируют сайты, как небезопасные для клиента, если они не используют протокол защиты персональных данных, <a href="#" data-toggle="modal"  data-target="#HTTPS">HTTPS</a>, при вводе URL.</p>
                <div class="row data-protect first">
                    <div class="col-12 col-md-12">
                        <img src="/img/secure.svg" alt="" style="box-shadow: none; border: none; border-radius: 0px">
                    </div>
                </div>
                <div class="row data-protect second"></div>
                <p>Лишь малая часть пользователей рискнет перейти на твой сайт после такого грозного предупреждения.</p>
                <p>Можно так продолжить вести бизнес, но ты теряешь деньги и клиентов, такой уровень оценки на “языке” браузеров, Google, означает, что Ваш сайт банально не прошел “техосмотр”.
                </p>
                <p> Окей, ты знаешь о рекомендациях Google о необходимости защиты чувствительной информации, клиентских данных, подключаешь с помощью IT специалиста <a href="#" data-toggle="modal"  data-target="#HTTPS">HTTPS</a> и…… получаешь замедление скорости работы сайта.</p>
                <p>Почему? Любой механизм шифрования можно сравнить с дополнительным замком на двери дома, чтобы открыть его, даже при наличии ключа, тебе необходимо время.</p>
                <p> Мое преимущество в том, что внедряя технологии защиты данных, я добавляю технологии <a href="#" data-toggle="modal" data-target="#HTTP2">[HTTP/2]</a>, 
                    <a href="#" data-toggle="modal" data-target="#ALPN">[ALPN]</a>, 
                    <a href="#" data-toggle="modal" data-target="#HSTS">HSTS</a>, которые помогают нейтрализовать замедление скорости работы сайта. </p>
                <div class="container">
                    <div class="button-wrap">
                        <a href="#connection" class="btn btn-primary btn-lg openModal">Подключить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>