<div class="section" id="footer" style="padding-bottom: 0">
    <!-- Begin Footer section -->

    <div class="container has-text-centered">
         <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered"></h2>
                </div>
            </div>
        </div>
        <div class="social-icons">
            {{ range .Site.Params.social }}
            <a href="{{ .url }}">
                <i class="fa fa-{{ .icon}}"></i>
            </a>
            {{ end }}
        </div>
        <!-- Begin Footer container -->
        <div class="footer__content has-text-centered">
            <h3 class="subtitle is-3 has-text-centered"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></h3>
            <h3 class="subtitle is-3 has-text-centered"><a href="tel:{{ .Site.Params.footerPhone }}">{{ .Site.Params.footerPhone }}</a></h3>
        </div>
            

        {{ if .Site.Params.footerText }} {{ .Site.Params.footerText }} {{ else }} {{ end }}

        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
    </div>
    <!-- End Footer container -->
</div>
<div class="section">
    <div class="container has-text-centered">
        <p class="footer-text">Nitra &#174; все права защищены 2018.</p>
        <p class="footer-text">Украина, 61001, г. Харьков, пл. Защитников Украины, 7/8</p>
        <div class="footer-text">
            <a class="openModal" href="#term-use-standart"> Пользовательское соглашение</a>
            <a class="openModal" href="#privacy-policy"> Политика конфиденциальности</a>
       </div>
    </div>
</div>
<!-- End Footer section -->


<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/p.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4423774.js"></script>
<!-- End of HubSpot Embed Code -->