<div class="section" id="footer"><!-- Begin Footer section -->
    <div class="container has-text-centered"><!-- Begin Footer container -->
        {{ if .Site.Params.footerText }}
            {{ .Site.Params.footerText }}
        {{ else }}
        <span class="footer-text">Nitra технология сделана с <i class="fa fa-heart"></i> и помощью <i class="fa fa-coffee"></i></span>
        {{ end }}
    </div><!-- End Footer container -->
</div><!-- End Footer section -->

<script type="text/javascript" src="/js/p.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.fullpage.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/common.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4423774.js"></script>
<!-- End of HubSpot Embed Code -->