<div class="section forecast anchor" id="forecast">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Как я могу оптимизировать работу Lumik.ru?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item"></div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <h3>Скорость загрузки</h3>
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <h3>Безопасность</h3>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item"></div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                   <img src="img/1.svg" alt="">
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                   <img src="img/2.svg" alt="">
                </div>
            </div>
        </div>
         <div class="row" style="margin-bottom: 2rem">
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Before
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <i>&lt;</i>10 сек.
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Outsider
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    After
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <i>&gt;</i>7 сек.
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Best of the Best
                </div>
            </div>
        </div>

        <div class="button-wrap">
            <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary btn-lg">Хочу апгрейд</a>
        </div>
        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
    </div>
</div>