<div class="section forecast anchor" id="forecast">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h3 class="title is-3">Как я могу оптимизировать работу Вашего сайта?</h3>
                    <h4 class="title is-4">8 из 10 - новая оценка твоего сайта!</h4>
                </div>
            </div>
            <div class="col-12">
                <p style="margin-bottom: 1rem">Перед тем как сделать тебе предложение, я cоздаю прототип твоего сайта и тестирую все улучшения по повышению безопасности и производительности. Это настоящая симуляция работы твоего сайта на прототипе и лишь убедившись в выборе наилучшей
                    комбинации, перехожу к интеграциии.</p>
            </div>

            <div class=" scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <a href="/ru/how-it-work/" class="content__title title is-4">Защита данных </a>
                    <p>BEST! Настрою самый оптимальный уровень защиты данных. Неплохо, да? Данные платежных карт, другая чувствительная информация за счет интеграции HTTPS, HSTS, PFS будут эффективно защищены. <a href="/ru/how-it-work/" class="link-more">Подробнее</a></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <a href="/ru/how-it-work/" class="result__time" style="padding-left: 5%">
                            <span style="opacity: 0" class="time">15</span>
                            <span style="opacity: 0">сек.</span>
                            <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                        </a>
                        <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>> 10 секунд</span>
                        </div>
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <a href="/ru/how-it-work/" class="content__title title is-4">Скорость загрузки</a>
                    <p>Юхууу! Плюс в мою карму. Я могу улучшить скорость загрузки вашего сайта в режиме реального времени.</p>
                    <p>На первом этапе до уровня Better. <a href="/ru/how-it-work/" class="link-more">Подробнее</a> Это приведет к увеличению посетителей сайта уже сегодня.</p>
                    <p>Быстрый сайт, новые клиенты - не будем откладывать знакомство со мной?</p>
                    <p></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <a href="/ru/how-it-work/" class="result__time" style="padding-left: 10% ;">
                            <span class="time" style="opacity: 1">15</span>
                            <span style="opacity: 1">сек.</span>
                            <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                        </a>
                        <!-- <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>больше 10 секунд</span>
                        </div> -->
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrap">
            <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary btn-lg">Старт</a>
        </div>
    </div>
</div>