<div class="section forecast anchor" id="forecast">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Как AI оптимизирует работу Вашего сайта?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item"></div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <h3>Скорость работы сайта</h3>
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    <h3>Безопасность</h3>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item"></div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                   <img src="img/1.svg" alt="">
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                   <img src="img/2.svg" alt="">
                </div>
            </div>
        </div>
         <div class="row" style="margin-bottom: 2rem">
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Текущее состояние
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Низкая скорость передачи данных
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Сайт небезопасен для посетителей
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Nitra + Ваш сайт
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Ускорение загрузки страниц. 
                    Оптимизация информационных потоков и соединений.
                    Кэширование данных 
                    [HTTP/2], [ALPN], [OCSP], [IPV6]
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="forecast-item">
                    Шифрованный канал связи и защита от перехвата данных с интеграцией [HTTPS], [HSTS], [ECDSA], [PFS]. 
                    Автоматическое продление сертификата SSL.
                </div>
            </div>
        </div>Я  создаю систему, которая соответствует стандартам Google и браузеров Google Chrome, Firefox, Opera, которая устранит уязвимости в безопасности и позволит нейтрализовать замедление скорости работы сайта.
 
        Это поможет сохранить сайт, клиентов и прибыль. 

        <div class="button-wrap">
            <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary btn-lg">Подключить</a>
        </div>
        <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr>
    </div>
</div>