<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer"> {{ if .Site.Params.description }}
    <meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<!-- Segment Analytics -->
<script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("CCPRiCXfeo04gT0lO24LLoJh26tgeB0G");
    analytics.page();
    }}();
  </script>
     <!-- end segment -->
    <base href="{{ .Site.BaseURL }}">
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }} {{ if eq $url "/" }} {{ .Site.Title }} {{ else }} {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }} {{ end }}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">


    <!-- HTTPS -->

    {{ if .Site.Params.enforce_ssl }}
    <script type="text/javascript">
        var baseURL = '{{ .Site.BaseURL }}';
        var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
        if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
            window.location.protocol = 'https:';
        }
    </script>
    {{ end }}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Fonts and icon CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {{ $styleLight := resources.Get "sass/light-style.sass" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $styleLight.Permalink }}">
    {{ $styleMain := resources.Get "sass/main.sass" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $styleMain.Permalink }}">

    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <!-- Icon -->
    <link rel="shortcut icon" {{ if .Site.Params.faviconFile }} href="{{ .Site.Params.faviconFile }}" {{ else }} href="img/favicon.ico" {{ end }}>

</head>