<div class="section">
    <!-- Done with nav bar -->
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="hero-top anchorTop">
                    <div class="subtitle is-4">{{ .Site.Params.welcome }}</div>
                    <h1 class="fade-in one bold-title has-text-centered {{ if .Site.Params.fadeIn }}fade-in one{{ end }}">
                        {{ .Site.Params.firstName | safeHTML }}
                    </h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="fade-in two subtitle is-3 has-text-centered {{ if.Site.Params.fadeIn }} fade-in two{{ end }}">
                            {{ .Site.Params.tagLine }}
                        </h3>
                    </div>
                </div>
                <div class="fade-in three hero-description row">
                    <div class="col-12 col-md-12">
                        <div class="">{{ with .Site.Params.optimization }}{{ .}}{{ end }}</div>
                        <div class="">{{ with .Site.Params.mission }}{{ .}}{{ end }}</div>
                    </div>
                </div>
                <!-- <div class="container has-text-centered">
                    <a href="#scanner"><i class="fa fa-arrow-down"></i></a>
                </div> -->
            </div>
            <div class="fade-in three social-icons has-text-centered">
            {{ range .Site.Params.social }}
            <a href="{{ .url }}">
                <i class="fa fa-{{ .icon}}"></i>
            </a>
            {{ end }}
        </div>
        </div>
        <div class="hero-foot fade-in three">
        <hr>
        <nav class="nav-center">
            <a class="nav-item" href="#scanner">Диагностика</a>
            <a class="nav-item" href="#forecast">Апгрейд</a>
            <a class="nav-item" href="#how-it-works">Как я работаю?</a>
            <a class="nav-item" href="#advanteges">Преимущества</a>
            <a class="nav-item" href="#footer">Контакты</a>
        </nav>
        <hr>
        </div>
    </div>
    <!-- Done with Hero -->
    <div class="hero-foot mobile {{ if .Site.Params.fadeIn }}fade-in three{{ end }}">
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="hero-foot__link">Nitra участник <span class="mobile">Google</span> Cloud Platform <span class="mobile">Startup</span> Program</a>
    </div>
</div>