<div class="section">
    <div class="hero-foot {{ if .Site.Params.fadeIn }}fade-in three{{ end }}">
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="hero-foot__link">Nitra участник Google Cloud Platform Startup Program</a>
        <a class="mobile" href="#" data-toggle="modal" data-target="#exampleModalCenter" class="hero-foot__link">Google Startup</a>
    </div>
    <!-- Done with nav bar -->
    <div class="hero is-{{ .Site.Params.introHeight }}">
        <div class="hero-body hero-not-scan">
            <div class="container">
                <div class="subtitle is-4">
                    {{ .Site.Params.welcome }}
                </div>
                <h1 class="bold-title has-text-centered {{ if .Site.Params.fadeIn }}fade-in one{{ end }}">
                    {{ .Site.Params.firstName }}
                </h1>
                <h3 class="pb-2rem subtitle is-4 {{ if.Site.Params.fadeIn }} fade-in two{{ end }}">
                    {{ .Site.Params.tagLine }}
                </h3>
            </div>
        </div>
    </div>
    <!-- Done with Hero -->
    <div class="hero-foot mobile {{ if .Site.Params.fadeIn }}fade-in three{{ end }}">
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="hero-foot__link">Nitra участник <span class="mobile">Google</span> Cloud Platform <span class="mobile">Startup</span> Program</a>
    </div>
</div>