<section class="section anchor">
    <div class="container markdown">
        <div class="row">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h2 class="title is-2 has-text-centered">Как я работаю?</h2>
                </div>
            </div>
        </div>
        <div class="sigle__page__content">
            <div class="col-12"><p><span>Шаг 1</span>&nbsp; <span class="title is-4">Диагностика</span>.</p>
                <p>При сканировании сайта я определяю серые, неэффективные зоны  в безопасности и производительности  на Вашем сайте.</p>
                <p>&nbsp;</p>
                <p><span>Шаг 2</span> &nbsp; <span class="title is-4">Прототип</span>. <p>После сканирования сайта материнская технология создает уникальный алгоритм, который находит оптимальную комбинацию решений защиты данных и увеличения скорости для Вашего сайта. Я рада, что инженеры из <a hrev="URL">Google</a> поверили в меня и предоставили инфраструктуру <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Подробнее</a>, которая дает возможность создать прототип сайта и в режиме реального времени проверить какой эффект будет получен. Никаких тестов на "кроликах" - это же твой сайт!</p>
                <p>&nbsp;</p>
                <p><span>Шаг 3</span> &nbsp; <span class="title is-4">Апгрейд сайта.</span>  </p>
                 <p>Сайт - не арт-объект. Сайт должен эффективно работать, а для этого он должен быть усилен технологией, которая поможет его сделать производительнее и безопаснее.</p>
                <ol>
                    <li><p>Определяю индивидуальную для твоего сайта комбинацию 
                        <a href="#"  data-toggle="modal"  data-target="#HTTPS">HTTPS</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#HTTPS2">HTTP/2</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#IPV6">IPV6</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#ALPN">ALPN</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#ECDSA">ECDSA</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#PFS">PFS</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#HSTS">HSTS</a>, 
                        <a href="#"  data-toggle="modal"  data-target="#OCSP">OCSP</a> и других алгоритмов. При их настройке я делаю тысячи тестов, чтобы проверить работоспособность сайта, каждой страницы, каждого блока.</p></li>
                    <li><p>Исправляю несовершенства, которые мешают поисковикам "считывать" твой сайт. Каждый месяц буду отправлять отчет с историей исправлений и усовершенствований.</p></li>
                </ol>
                <p>&nbsp;</p>
            </div>
        </div>
        <!-- <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
        <hr> -->
    </div>
</section>