<div class="section scanner" id="scanner">
    <div class="help title is-4 has-text-centered">
        <h3 class="title is-3">Диагностика</h3>
        <h4 class="title is-4">Плохо, реально сайт мезозойской эры</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <a href="/ru/speed/" class="content__title title is-4">Скорость загрузки Вашего сайта</a>
                    <p>Упс... клиенты уходят с сайта, если скорость загрузки сайта ниже 3 сек. Ты теряешь <br> 50% мобильного трафика. <a href="/ru/speed/" class="link-more">Подробнее</a></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <div class="result__time">
                            <span style="opacity: 0" class="time">15</span>
                            <span style="opacity: 0">сек.</span>
                            <a href="/ru/data-protect/" class="icon"><img src="/img/two-down-chevron.svg" alt=""></a>
                        </div>
                        <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>больше 10 секунд</span>
                        </div>
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <a href="/ru/data-protect/" class="content__title title is-4">Защита данных</a>
                    <p>Результат негативный :( . Часть лояльных клиентов мигрируют к конкурентам. Пользователи прислушиваются к рекомендациям браузера и стараются не заходить на сайты, которые не защищают персональные данные.
                        <a href="/ru/data-protect/" class="link-more">Подробнее</a></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <div class="result__time">
                            <span style="opacity: 1" class="time">15</span>
                            <span style="opacity: 1">сек.</span>
                            <a href="/ru/data-protect/" class="icon"><img src="/img/two-down-chevron.svg" alt=""></a>
                        </div>
                        <!-- <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>больше 10 секунд</span>
                        </div> -->
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <h3 class="title is-3">Как я могу оптимизировать работу Вашего сайта?</h3>
                    <h4 class="title is-4">8 из 10 - новая оценка твоего сайта!</h4>
                </div>
            </div>
            <div class="col-12">
                <p style="margin-bottom: 1rem">Перед тем как сделать тебе предложение, я cоздаю прототип твоего сайта и тестирую все улучшения по повышению безопасности и производительности. Это настоящая симуляция работы твоего сайта на прототипе и лишь убедившись в выборе наилучшей
                    комбинации, перехожу к интеграциии.</p>
            </div>

        </div>

    </div>
</div>