<div class="section scanner anchor" id="scanner">
    <div class="help title is-4 has-text-centered">
        <h2 class="title is-2 has-text-centered">Диагностика</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <h3 class="title is-3 latest-post-title">
                        <a href="/ru/speed/" class="content__title">Скорость загрузки Вашего сайта</a>
                    </h3>
                    <p>Упс... клиенты уходят с сайта, если скорость загрузки сайта ниже 3 сек. Ты теряешь <br> 50% мобильного трафика. <a href="/ru/speed/" class="link-more">Подробнее</a></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <div class="result__time">
                            <!-- <span style="opacity: 0" class="time">15</span>
                            <span style="opacity: 0">сек.</span> -->
                            <a href="/ru/data-protect/" class="icon"><img src="/img/two-down-chevron.svg" alt=""></a>
                        </div>
                        <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>> 10 секунд</span>
                        </div>
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scanner__item download">
                <div class="col-12 col-md-6 item__content">
                    <h3 class="title is-3 latest-post-title">
                         <a href="/ru/data-protect/" class="content__title ">Защита данных</a>
                    </h3>
                  
                    <p>Результат негативный :( . Часть лояльных клиентов мигрируют к конкурентам. Пользователи прислушиваются к рекомендациям браузера и стараются не заходить на сайты, которые не защищают персональные данные.
                        <a href="/ru/data-protect/" class="link-more">Подробнее</a></p>
                </div>
                <div class="col-12 col-md-6 scanner__item__result">
                    <div class="result__indicators">
                        <div class="result__time">
                            <span style="opacity: 0" class="time">15</span>
                            <span style="opacity: 0">сек.</span>
                            <a href="/ru/data-protect/" class="icon"><img src="/img/two-down-chevron.svg" alt=""></a>
                        </div>
                        <!-- <div class="result__chart result__chart--time" style="box-shadow: none">
                            <span>3 сек.</span>
                            <span>5 сек.</span>
                            <span>10 сек.</span>
                            <span>больше 10 секунд</span>
                        </div> -->
                        <div class="result__chart">
                            <span>best</span>
                            <span>better</span>
                            <span>good</span>
                            <span>poor...</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
    <hr>
    </div>
</div>
