<section class="connection__info">
    <div class="container">
        <div class="row">
            <div class="col-12 connection__info__text">
                <p>
                    {{ .Site.Params.world }}
                        <p>  {{ .Site.Params.firstname }} {{ .Site.Params.mission1 }}</p>
                    <p>
                  
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-12 col-md-6 offset-md-3">
                            <form>
                                <div class="form__text"></div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Обратный звонок" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Facebook" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-google" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Google" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="row brands">
            <div class="col-12">
                <div class="help title is-4 has-text-centered">
                    <!-- <h2 class="title is-2 has-text-centered">Nitra - часть Google Startup Program</h2> -->
                    <a class="has-text-centered" href="#" data-toggle="modal" data-target="#googleStartup">
                        {{ .Site.Params.partner2 }}</a>
                </div>
                <p class="title is-4"></p>
            </div>
        </div>
</section>