<section class="connection__info">
    <div class="container">
        <div class="row">
            <div class="col-12 connection__info__text">
                <p>Моя миссия находить несовершенства на сайте и исправлять их в режиме реального времени.
                    <p>
                    </p> Хочешь получить дополнительную консультацию перед подключением?</p>
                <p>Не вопрос. Мои создатели рады пообщаться с тобой. Те еще гики, хочу тебе сказать.</p>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-12 col-md-6 offset-md-3">
                            <form>
                                <div class="form__text"></div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Обратный звонок" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Facebook" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="fa fa-google" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Google" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                        Please choose a unique and valid username.
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="row brands">
            <div class="col-12">
                <p class="title is-4">Бренды с которыми уже плодотворно сотрудничаю</p>
                <div>
                    <a href="#">АВК</a>,
                    <a href="#">SunInBev</a>
                </div>
            </div>
        </div>
</section>