<div class="section">
    <div class="container hero ">
            <div class="row">
                <div class="col-12">
                    <div class="help title is-4 has-text-centered">
                        <h2 class="title is-2 has-text-centered">Скорость загрузки</h2>
                    </div>
                </div>
            </div>
        </div>
    <div class="container  sigle__page__content">
        <div class="col-12">
            <p> Хороший сайт - это несколько составляющих: качественный контент, эргономика и удобство для пользователя. Удобство заключается в производительности, скорости загрузки сайта, скорости отображения страниц и безопасности для пользователя. У Вашего сайта проблемы с производительностью - не оптимально настроена логистика информационных потоков, что понижает скорость передачи данных. .
            </p>
            <p>Давай опираться на факты.</p>
        </div>
        <div class="speed-test">
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number">53%</div>
                <div class="col-8">клиентов уйдут с сайта, если он загружается дольше 3 секунд.</div>
            </div>
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number"><span>0,1</span> <span class="sec">сек</span></div>
                <div class="col-8">задержки загрузки приводит до 1% снижения корзины.</div>
                <div class="col-12 col-md-8"> На "техническом" языке твоему сайту не хватает технологий, которые помогут повысить скорость работы. На сайте не интегрированы алгоритмы, повышающие производительность сайта <a href="#" data-toggle="modal"  data-target="#HTTP2">HTTP/2</a>, <a href="#"href="#" data-toggle="modal"  data-target="#ALPN">ALPN</a>,<a href="#" data-toggle="modal"  data-target="#IPV6"> IPV6</a>. </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="button-wrap" style="width: 100%">
                    <a href="#connection" class="btn btn-primary btn-lg openModal">Хочу апгрейд</a>
                </div>
            </div>
        </div>
    </div>
</div>