<div class="section">
    <div class="container hero ">
            <div class="row">
                <div class="col-12">
                    <div class="help title is-4 has-text-centered">
                        <h2 class="title is-2 has-text-centered">{{ .Site.Params.speed }}</h2>
                    </div>
                </div>
            </div>
        </div>
    <div class="container  sigle__page__content">
        <div class="col-12">
            <p>{{ .Site.Params.goodsite }}
                {{ .Site.Params.text16}}
                
                

            </p>
            <p>{{ .Site.Params.comeon }}</p>
        </div>
        <div class="speed-test">
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number">{{ .Site.Params.53 }}</div>
                <div class="col-8">{{ .Site.Params.go }}</div>
            </div>
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number"><span>0,1</span> <span class="sec">сек</span></div>
                <div class="col-8">{{ .Site.Params.stop }}</div>
                <div class="col-12 col-md-8"> На "техническом" языке твоему сайту не хватает технологий, которые помогут повысить скорость работы. На сайте не интегрированы алгоритмы, повышающие производительность сайта <a href="#" data-toggle="modal"  data-target="#HTTP2">HTTP/2</a>, <a href="#"href="#" data-toggle="modal"  data-target="#ALPN">ALPN</a>,<a href="#" data-toggle="modal"  data-target="#IPV6"> IPV6</a>. </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="button-wrap" style="width: 100%">
                    <a href="#connection" class="btn btn-primary btn-lg openModal">{{ .Site.Params.want }}</a>
                </div>
            </div>
        </div>
    </div>
</div>