<div class="section">
    <div class="container hero ">
            <div class="row">
                <div class="col-12">
                    <div class="help title is-4 has-text-centered">
                        <h2 class="title is-2 has-text-centered">Скорость загрузки</h2>
                    </div>
                </div>
            </div>
        </div>
    <div class="container  sigle__page__content">
        <div class="col-12">
            <p>Хороший сайт - это четыре ключевых составляющих: качественный контент, способ подачи информации (дизайн), эргономика и удобство для пользователя. 
                Удобство для пользователя  заключается в производительности, а простыми словами, скоростью загрузки сайта, скоростью отображения страниц и безопасности для пользователя.
                
                

            </p>
            <p>Давай опираться на факты.</p>
        </div>
        <div class="speed-test">
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number">53%</div>
                <div class="col-8">клиентов уйдут с сайта, если он загружается дольше 3 секунд.</div>
            </div>
            <div class="row">
                <div class="col-2 offset-md-1 speed-test__number"><span>0,1</span> <span class="sec">сек</span></div>
                <div class="col-8">задержки загрузки приводит до 1% снижения корзины.</div>
                <div class="col-12 col-md-8">На "техническом" языке Вашему сайту не хватает технологий, которые помогут повысить скорость работ.
                       
                        <p>HTTP/2</p> 
                        
                        Современная веб-страница состоит из множества элементов: изображения, JS, CSS и другие. В браузерах количество одновременных TCP-соединений ограничено. Поэтому страницы с большим количеством статического контента загружаются не так быстро, как хотелось бы.

                        В HTTP/2 благодаря мультиплексированию статические элементы загружаются параллельно, и благодаря этому существенно улучшается производительность. 
                        В HTTP/2 настроена работа с приоритетами. 
                        Существует два подхода к назначению приоритетов: на основе веса и на основе зависимостей.
                        
                        В первом подходе каждый поток получает определённый вес. Потом на основе веса сервер распределяет нагрузку между потоками. 
                        
                        Второй метод, являющийся основным в HTTP/2, заключается в следующем: браузер просит сервер загружать определённые элементы контента в первую очередь. Например, браузер может попросить сервер сначала загрузить CSS-файлы или JavaScript, а уже потом — HTML или изображения. В HTTP/2 есть возможность ускорить скорость загрузки страниц за счет передачи заголовок в сжатом виде. Благодаря этому уменьшается количество информации, которой обмениваются между собой сервер и браузер. 

                        <p>ALPN</p>
                        
ALPN
Application-Layer Protocol Negotiation (ALPN) - позволяет выбрать протокол, который должен будет использоваться при работе через защищенное соединение. При этом он позволяет избежать дополнительных сетевых обращений. Данное расширение используется протоколом HTTP/2.

                        <p>IPV6</p>
                        В IPv6 длина IP-адреса расширена до 128 бит, поэтому число доступных идентификаторов увеличивается практически до бесконечности.применение этой технологии позволяет снабдить каждое устройство, имеющее доступ в Интернет, уникальным IP-адресом. А это обеспечивает непосредственное взаимодействие всех устройств, подключенных к Сети. Помимо увеличения адресного пространства протокол обладает и другими преимуществами. Например, в IPv6 существует отдельный тип адресов "anycast address", который позволяет устройству (в терминологии адресации оно называется узлом), подключенному к Интернету, отправлять запрос любой группе серверов. Это дает возможность узлу определить сервер, находящийся к нему ближе других и далее взаимодействовать только с ним.
                    </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="button-wrap" style="width: 100%">
                    <a href="#connection" class="btn btn-primary btn-lg openModal">Хочу апгрейд</a>
                </div>
            </div>
        </div>
    </div>
</div>