@import "./component/aside-menu"
@import "./component/payments"

.section
  padding: 0

.hero
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.hero-top
  display: flex
  align-items: center
  justify-content: center
  .subtitle
    padding-right: 3rem

.hero-body
  padding-top: 8%
  width: 100%

.hero-foot
  position: absolute
  width: 100%
  z-index: 2
  text-align: right

.watch-result
  margin-top: 3rem

.breadcrumbs
  display: none
  position: absolute
  top: 20px
  li
    list-style-type: none
    margin-right: 30px
    position: relative
    color: #000
    &:first-child:before
      display: none

.help
  padding-left: 0%
  margin-bottom: 0%
  text-align: center
  padding-top: 2rem

.breadcrumbs li:before
  content: ""
  display: block
  width: 8px
  height: 8px
  border-radius: 50%
  background-color: #000
  position: absolute
  left: -17px
  top: 50%
  margin-top: -5px

.hero-foot__link
  //padding: 30px
  margin-top: 30px
  display: block
  padding-bottom: 0
  text-align: right
  padding-right: 10%
  display: inline-block
  &:focus,&:active
    outline: none

.hero-description
  div
    margin-bottom: 1rem
  a
    text-decoration: underline

.bold-title
  text-transform: uppercase

.section.scanner
  padding-top: 0rem
  margin-bottom: 2rem

.scanner__item
  display: flex
  margin-bottom: 3%
  width: 100%


.item__content
  padding-right: 2rem

.content__title
  //font-size: 25px
  margin-bottom: 0px
  display: inline-block
  color: #00b8d4

.scanner__item__result
  display: flex
  align-items: center
  position: relative
  padding-top: 30px

.result__indicators
  width: 100%
  position: relative
  margin-left: 10%

.result__chart
  width: 100%
  display: flex
  justify-content: space-around
  border: 1px solid
  color: #fff
  text-shadow: 1px 1px 1px black
  padding: 10px 0
  background: #2eea38
  background: -moz-linear-gradient(left, #2eea38 0%, #7cbf24 32%, #cee825 51%, #cee825 66%, #c0c920 71%, #ff1e1e 96%)
  background: -webkit-linear-gradient(left, #2eea38 0%, #7cbf24 32%, #cee825 51%, #cee825 66%, #c0c920 71%, #ff1e1e 96%)
  background: linear-gradient(to right, #2eea38 0%, #7cbf24 32%, #cee825 51%, #cee825 66%, #c0c920 71%, #ff1e1e 96%)

.result__time
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 100%
  padding-bottom: 10px
  color: #000
  padding-left: 70%
  padding-bottom: 40px

.icon
  width: 30px
  margin-left: -40px
  position: relative
  bottom: -40px
  left: -25px
  img
    width: 30px
    box-shadow: none
    border: none
    width: 30px

.result__time .time
  font-size: 40px
  display: inline-block
  margin-right: 5px

.link-more
  text-decoration: underline

.button-wrap
  text-align: center

.forecast
  padding-top: 2rem
  padding-bottom: 0rem
  .button-wrap
    padding: 3rem 0
  a.btn.btn-primary
    min-width: 260px



//===================================== connection ============================================== // 
.connection
  //padding-top: 3rem

.connection__content
  .required
    font-size: 12px
    color: red

.connection__card__wrap
  display: flex
  justify-content: center
  padding-top: 2rem
.connection__card
  a
    display: block
    text-align: center
  .card-body
    border: 1px solid #dddddd
    padding-top: 10rem
    text-align: center
    background-color: #fff
    transition: all 0.3s ease
    &:hover
      background-color: #eee
      text-decoration: none

  .card__price
    font-size: 3rem
.step
  margin-bottom: 2rem
.step-two
  margin-bottom: 3rem

.step-one__text
  padding-top: 1rem


.connection__info
  padding-top: 5rem
  text-align: center
  .input-group
    margin-bottom: 1rem
  .input-group-text
    min-width: 45px
    text-align: center
    display: block

.connection__info__text
  margin-bottom: 2rem

.form__text
  margin-bottom: 1rem  

.brands
  padding: 3rem 0
  padding-top: 5rem
  text-align: center


.or
  text-align: center
  padding: 3rem 0
.cloud-icon
  text-align: center
  padding: 0
  margin: 0 !important
  li
    list-style-type: none
    display: inline-block
    padding: 0
    margin: 0 3rem
    position: relative
    &:last-child
      &:after
        display: none
    &:after
      content: ""
      display: block
      position: absolute
      top: 50%
      right: -110%
      width: 70%
      height: 2px
      background-color: #333

    .fa
      font-size: 4rem


//=================== Speed test ==================//
.speed-test
  .row
    margin-bottom: 2rem
    align-items: center

.speed-test__number
  padding: 0
  max-width: 90px
  span.sec
    font-size: 16px
    font-weight: normal

.speed-test__number
  font-weight: bold
  font-size: 2rem        

.speed-scann-namber
  margin-top: auto
  font-size: 1.5rem
  padding-bottom: 20px

.speed
  .result__indicators
    margin-left: 0
    border: none
  .result__chart
    border: none
  .row
    margin-bottom: 1.5rem    

.result__chart--time
  background-image: none
  color: #333
  border: none
  //outline: 1px solid #ddd
  box-shadow: inset 0px 0px 0px 1px #222
  text-shadow: none   

.algorithm 
  .title
    padding-bottom: 2rem
  p
    margin-bottom: 1rem   

.compare
  width: 100%
  margin-bottom: 3rem
  padding-top: 2rem
  img
    display: inline-block
    border: none
    border-radius: 0
    max-width: 300px

  .col-6
    text-align: center

.speed-page
  .hero
    padding-top: 3rem


//data-protect


.data-protect.first
  padding-top: 2rem
.data-protect.second
  padding-bottom: 2rem


.glo-icon
  text-align: center
  padding-top: 1rem
  padding-bottom: 1rem
  .fa
    font-size: 10px
    display: inline-block


//============= successful payment

.successful
  .row
    padding-bottom: 3rem
  .btn-group
    padding: 1.5rem 0
  .btn
    min-width: 130px
    border: 1px solid #5a6268

.row.connection__completed
  padding-bottom: 0

.connection__completed
  > div
    margin-bottom: 3rem    

//============= Footer ===========================//
#footer
  padding: 3rem 0
.footer__content
  text-align: ceter  
.social-icons
  margin-bottom: 1rem   

.mobile
  display: none     
