{{ partial "header.html" . }}

<body>

    <!-- Добавлен закрывающий div top -->
    <div id="top"></div>
    <!-- Where all the awesome begins -->

    <div class="section">
        <div class="hero-foot {{ if .Site.Params.fadeIn }}fade-in three{{ end }}">
            <a href="#" class="hero-foot__link">Nitra участник Google Cloud Platform Startup Program</a>
            <!-- <nav class="nav-center">
                <a class="nav-item" href="#about">Что можно улучшить</a>
                {{ if .Site.Params.showProjects }}
                <a class="nav-item" href="#projects">Зачем</a>
                {{ end }}
                {{ if .Site.Params.showBlog }}
                <a class="nav-item" href="#blog">Технологии</a>
                {{ end }}
                <a class="nav-item" href="#contact">Контакты</a>
            </nav> -->
        </div>
        <!-- Done with nav bar -->
        <div class="hero is-{{ .Site.Params.introHeight }}">
            <div class="hero-body">
                <div class="container">
                    <div class="subtitle is-3">
                        {{ .Site.Params.welcome }}
                    </div>
                    <h1 class="bold-title has-text-centered {{ if .Site.Params.fadeIn }}fade-in one{{ end }}">
                        {{ .Site.Params.firstName }}
                    </h1>
                    <h3 class="subtitle is-3 {{ if.Site.Params.fadeIn }} fade-in two{{ end }}">
                        {{ .Site.Params.tagLine }}
                    </h3>
                    <div class="hero-description">
                        <div>{{ with .Site.Params.optimization }}{{ .}}{{ end }}</div>
                        <div>{{ with .Site.Params.mission }}{{ .}}{{ end }}</div>
                        <div>{{ with .Site.Params.effect }}{{ . | safeHTML }}{{ end }}</div>
                        <div class="watch-result title has-text-centered">{{ with .Site.Params.scan }}{{ .}}{{ end }}</div>
                        <div class="container has-text-centered"><a href="#scanner"><i class="fa fa-arrow-down"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- Hero body title end -->
            <!-- Hero foot has nav bar -->

        </div>
        <!-- Done with Hero -->
    </div>

    <!-- Everything below fades in three! -->
    <!-- <div class="section no-padding {{ if .Site.Params.fadeIn }}fade-in three{{ end }}"> -->

    <div class="section scanner" id="scanner">
        <div class="container">
            <!-- <ul class="breadcrumbs">
                <li>Nitra.ai</li>
                <li>Сканер</li>
                <li>Оптимизация Люмик.ру</li>
            </ul> -->
            <div class="row">
                <div class="col-12 scanner__item download">
                    <div class="col-6 item__content">
                        <a href="#" class="content__title">Скорость загрузки Люмик.ру</a>
                        <p>Упс... клиенты уходят с сайта, если скорость загрузки сайта ниже 3 сек. Ты теряешь <br> 50% мобильного трафика. <a href="#" class="link-more">Подробнее</a></p>
                    </div>
                    <div class="col-6 scanner__item__result">
                        <div class="result__indicators">
                            <div class="result__time">
                                <span class="time">26</span>
                                <span>сек.</span>
                                <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                            </div>
                            <div class="result__chart">
                                <span>best</span>
                                <span>better</span>
                                <span>good</span>
                                <span>poor...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 scanner__item download">
                    <div class="col-6 item__content">
                        <a href="#" class="content__title">Защита данных</a>
                        <p>ой-ой-ой - результат негативный :( . Часть лояльных клиентов люмик.ру мигрируют к конкурентам. Пользователи прислушиваются к рекомендациям браузера и стараются не заходить на сайты, которые не защищают персональные данные. <a href="#"
                                class="link-more">Подробнее</a></p>
                    </div>
                    <div class="col-6 scanner__item__result">
                        <div class="result__indicators">
                            <div class="result__time">
                                <span style="opacity: 0" class="time">15</span>
                                <span style="opacity: 0">сек.</span>
                                <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                            </div>
                            <div class="result__chart">
                                <span>best</span>
                                <span>better</span>
                                <span>good</span>
                                <span>poor...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="help subtitle is-3 has-text-centered">Как я могу оптимизировать работу Люмик.ру?</div>
            <div class="container has-text-centered"><a href="#forecast"><i class="fa fa-arrow-down"></i></a></div>
        </div>
    </div>

    <div class="section forecast" id="forecast">
        <div class="container">
            <div class="row">
                <div class="col-12 scanner__item download">
                    <div class="col-6 item__content">
                        <a href="#" class="content__title">Защита данных </a>
                        <p>Люмик ру сможет гарантировать эффективную защиту персональных данных клиентов, в том числе данные плтаежных карт за счет интеграции HTTPS, HSTS, PFS <a href="#" class="link-more">Подробнее</a></p>
                    </div>
                    <div class="col-6 scanner__item__result">
                        <div class="result__indicators">
                            <div class="result__time" style="padding-left: 5%">
                                <span style="opacity: 0" class="time">15</span>
                                <span style="opacity: 0">сек.</span>
                                <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                            </div>
                            <div class="result__chart">
                                <span>best</span>
                                <span>better</span>
                                <span>good</span>
                                <span>poor...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 scanner__item download">
                    <div class="col-6 item__content">
                        <a href="#" class="content__title">Скорость загрузки Люмик.ру</a>
                        <p>Юхууу! <a href="" id="">скорость загрузки страниц сайта</a> обрадует твоих клиентов и приведет к увеличению посетителей сайта. </p>
                        <p>Google ранжирует сайты в поисковой выдаче в зависимости от скорости работы ресурса.</p>
                        <p>Окей, а мой плюс в том, что я не только даю оценку скорости работы сайта. </p>
                        <p>Я знаю как оптимизировать скорость работы Люмик.ру в режиме реального времени!</p>
                    </div>
                    <div class="col-6 scanner__item__result">
                        <div class="result__indicators">
                            <div class="result__time" style="padding-left: 10% ;">
                                <span class="time">15</span>
                                <span>сек.</span>
                                <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                            </div>
                            <div class="result__chart">
                                <span>best</span>
                                <span>better</span>
                                <span>good</span>
                                <span>poor...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrap">
                <a href="/ru/contracts/" class="btn btn-light">Подключаем</a>
            </div>
        </div>
    </div>


    {{ if .Site.Params.localTime }}
    <p>My current local time is <span id="time"></span>.</p>
    <script type="text/javascript" src="/js/moment.js"></script>
    <script type="text/javascript" src="/js/moment-timezone.js"></script>
    <script type="text/javascript" src="/js/moment-timezone-with-data-2012-2022.js"></script>

    <script>
        $(document).ready(function() {
            var time = moment().tz("{{ .Site.Params.timeZone }}").format("h:mm A");
            $('#time').html(time);
        })
    </script>
    {{ end }} {{ if .Site.Params.email }}
    <h3 class="subtitle is-3 has-text-centered top-pad"><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></h3>
    {{ end }}

    </div>
    <!-- End Contact container -->

    <div class="container has-text-centered top-pad"><a href="#top"><i class="fa fa-arrow-up"></i></a></div>
    </div>
    <!-- End Contact section -->
    {{ partial "footer.html" . }}


    <!-- Bitty scrolling links script -->
    <script>
        $('a[href^="#"]').click(function(e) {
            e.preventDefault();
            var target = this.hash;
            $('html, body').animate({
                scrollTop: $(target).offset().top
            }, 500);
            return false;
        })
    </script>
</body>