{{ partial "header.html" . }}

<body class="connection">

    {{ partial "nav-list.html" . }} {{ partial "connection.html" }} {{ partial "footer.html" . }}
    </div>
    <!-- End fade in two -->
    </div>
    <!-- End parent section -->

    </div>

    <!-- Bitty scrolling links script -->
    <script>
        $('a[href^="{{ .Permalink }}#"]').click(function(e) {
            e.preventDefault();
            var target = this.hash;
            $('html, body').animate({
                scrollTop: $(target).offset().top
            }, 500);
            return false;
        })
    </script>

</body>