{{ partial "header.html" . }}

<body class="speed-page">

    {{ partial "nav-list.html" . }}

    <div id="content" class="">
        <div class="container  hero pb-4rem">
            <!-- Begin Title -->
            <h1 class="title is-3">{{ .Title }}</h1>
        </div>
        <!-- End Title -->
        <!-- Everything below fades in two! -->
        <div class="section speed">
            <div class="container  sigle__page__content">
                {{ .Content }}
                <div class="col-12">
                    <p>Владельцы сайта воспринимают сайт как арт-объект, ценят красивый дизайн, реже задумываются об удобстве для клиента. </p>
                    <p>Давай опираться на факты.</p>
                </div>
                <div class="speed-test">
                    <div class="row">
                        <div class="col-2 offset-md-1 speed-test__number">53%</div>
                        <div class="col-8">клиентов уйдут с сайта, если он загружается дольше 3 секунд</div>
                    </div>
                    <div class="row">
                        <div class="col-2 offset-md-1 speed-test__number"><span>0,1</span> <span class="sec">сек</span></div>
                        <div class="col-8">задержки загрузки приводит до 1% снижения корзины</div>
                    </div>
                    <div class="row">
                        <div class="col-2 offset-md-1 speed-test__number"><span>S</span></div>
                        <div class="col-8">
                            <p></p>cкорость - основной фактор влияющий на ранжирование в поисковой системе Google, которой пользуются две трети всех пользователей в мире.</p>
                        </div>
                    </div>
                </div>
                <div class="col-8">

                </div>
                <div class="row">
                    <div class="col-1 speed-scann-namber">1</div>
                    <div class="col-8 scanner__item__result">
                        <div class="result__indicators">
                            <div class="result__time">
                                <span class="time" /span>
                                <span></span>
                                <div class="icon"><img src="/img/two-down-chevron.svg" alt=""></div>
                            </div>
                            <div class="result__chart result__chart--time">
                                <span>3 сек.</span>
                                <span>5 сек.</span>
                                <span>10 сек.</span>
                                <span>больше 10 секунд</span>
                            </div>
                            <div class="result__chart">
                                <span>best</span>
                                <span>better</span>
                                <span>good</span>
                                <span>poor...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 speed-scann-namber">2</div>
                    <div class="col-12 col-md-8">
                        <p>Ваш сайт загружается дольше 10 секунд в сети 3G</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 speed-scann-namber">3</div>
                    <div class="col-12 col-md-8"> на сайте не интегрированы алгоритмы, повышающие производительность сайта HTTP/2, ALPN, IPV6 </div>
                </div>
                <div class="row">
                    <div class="col-1 speed-scann-namber">4</div>
                    <div class="col-12 col-md-8">Не интегрированы алгоритмы, оптимизирующие видео или изображения</div>
                </div>
                <div class="row">
                    <div class="col-1 speed-scann-namber"></div>
                    <!-- <div class="col-12 col-md-8">
                        <a id="go-to" href="{{ .Site.BaseURL }}ru/#forecast/">Посмотрим прогноз улучшения показателей Вашего сайта?</a>
                    </div> -->

                </div>
                <div class="row"></div>
                <div class="row">
                    <div class="button-wrap" style="width: 100%">
                        <a href="{{ .Site.BaseURL }}ru/connection/" class="btn btn-primary">Старт</a>
                    </div>
                </div>
            </div>

            <!-- <div class="container sigle__page__content algorithm">
            <div class="row">
                <div class="col-12">
                    <div class="title is-3">Алгоритмы оптимизации изображений</div>
                </div>
                <div class="col-12">
                    <p>Половина пользователей используют смартфоны для доступа к сайтам, а значит часто используют медленный канал доступа для загрузки сайта, 3G. </p>
                </div>
                <div class="col-12">
                    <p>Что влияет на скорость загрузки страницы? В первую очередь, загрузка изображений и видео. </p>
                </div>
               <div class="col-12">
                 <p>Продемонстрирую на примере картинки с твоего сайта  как это работает</p>
               </div>
            </div>
            <div class="compare">
                <div class="row">
                    <div class="col-6">
                        <img src="http://via.placeholder.com/300x200" alt="">
                    </div>
                    <div class="col-6">
                        <img src="http://via.placeholder.com/300x200" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Вес картинки до оптимизации 457кв, после оптимизации 29 кв  - меньше в 16 раз! <br>  Скорость ее загрузки в сети 3G выросла с 3,3 секунд до 1 секунды!</p>
                </div>
                <div class="col-12">
                    <p>Посмотреть более детальную информацию - <a href="/ru/speed-optimization-algorithms/"> Алгоритмы оптимизации скорости</a></p>
                </div>
            </div>
        </div> -->

        </div>
        {{ partial "footer.html" . }}
    </div>
    <!-- End fade in two -->

    </div>
    <!-- Bitty scrolling links script -->
    <script>
        $('a[href^="{{ .Permalink }}#"]').click(function(e) {
            e.preventDefault();
            var target = this.hash;
            $('html, body').animate({
                scrollTop: $(target).offset().top
            }, 500);
            return false;
        })
    </script>
</body>